@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

code{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 14px;
}

.code_container{
  background-color: rgb(66, 66, 66);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.border-default{
  border-width: 0.3px;
  @apply border-neutral-600 border-opacity-70
}

.border-default-bottom{
  border-bottom-width: 0.3px;
  @apply border-neutral-600 border-opacity-70
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

.hide-multi-line{

overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: calc(50vw);
}